.box{
    width: 0px;
    height: 0px;
    /*background-color: red;*/
    margin: 25px;
    /*border-top: 70px solid peru;*/
    border-right: 70px solid transparent;
    border-bottom: 70px solid blue;
    border-left: 70px solid transparent;
    /*padding: 25px;*/
    /*transform: rotate(90deg);*/
}